<div class="form">
    <p class="title">Top 3</p>
  
    <div>
      <label class="item">
        <span *ngFor="let student of calculateTop3Students()" class="name">
            Name: {{ student.name }} {{student.totalScore}} Grade:{{student.grade}}</span>
      </label>
    </div>
  
    <div>
      <label class="sum">
        <span>MIN GPA: {{ calculateMinMaxAvgGPA().min }}</span>
        <span>MAX GPA: {{ calculateMinMaxAvgGPA().max }}</span>
        <span>AVG GPA: {{ calculateMinMaxAvgGPA().avg.toFixed(2) }}</span>
      </label>
    </div>
    <button class="submit" (click)="goToScore()">Score</button>
  </div>
  