<div class="form">
  <div class="topheader">  <button class="backbtn"(click)="goToScore()"> back </button>
    <p class="title"> Student GPAs</p>
  </div>
    <label>
      <input class="input" type="text" placeholder=""> 
      <span>Name</span>
    </label>
  
    <label>
      <input class="input" type="number" placeholder="">
      <span>Collect score (Max:30)</span>
    </label>
  
    <label>
      <input class="input" type="number" placeholder="">
      <span>Test score (Max:70)</span>
    </label>
  
    <button class="submit">ADD</button>
  </div>
  
